<a href="https://colab.research.google.com/github/DRCorreia/GESTAO_DO_CONHECIMENTO_AV2/blob/master/AV2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

**DUPLA**: Rafael Marins Féres/ Daniel Correia


GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (1,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados aberta que seja possível treinar um modelo de aprendizagem de máquina Supervisionado de Classificação (assim como o exemplo da Iris e Cancer). A partir desta base de dados, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo.
Obs.: Não utilizar nenhuma base de dados usada em aula,  nos trabalhos ou na biblioteca do sklearn.

[link text](https://)

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (1,0)

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [46]:
import pandas as pd

dt = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/yeast/yeast.data", delim_whitespace=True, header=0)
dt.to_csv('yeast.csv', encoding='utf-8')

In [47]:
colunas = ['Sequence Name', 'mcg', 'gvh', 'alm', 'mit', 'erl', 'pox', 'vac', 'nuc', 'site']

In [48]:
dt.columns = colunas

In [49]:
dt

     Sequence Name   mcg   gvh   alm   mit  erl  pox   vac   nuc site
0       ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT
1       ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT
2       AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC
3       AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT
4       AATC_YEAST  0.51  0.40  0.56  0.17  0.5  0.5  0.49  0.22  CYT
...            ...   ...   ...   ...   ...  ...  ...   ...   ...  ...
1478    YUR1_YEAST  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22  ME2
1479    ZIP1_YEAST  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47  NUC
1480    ZNRP_YEAST  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22  ME2
1481    ZUO1_YEAST  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39  NUC
1482    G6PD_YEAST  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22  CYT

[1483 rows x 10 columns]

In [50]:

feature_names = ['mcg', 'gvh', 'alm', 'mit', 'erl', 'pox', 'vac', 'nuc']

target = dt['site']

data = dt[feature_names]

In [51]:
data

       mcg   gvh   alm   mit  erl  pox   vac   nuc
0     0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22
1     0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22
2     0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22
3     0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22
4     0.51  0.40  0.56  0.17  0.5  0.5  0.49  0.22
...    ...   ...   ...   ...  ...  ...   ...   ...
1478  0.81  0.62  0.43  0.17  0.5  0.0  0.53  0.22
1479  0.47  0.43  0.61  0.40  0.5  0.0  0.48  0.47
1480  0.67  0.57  0.36  0.19  0.5  0.0  0.56  0.22
1481  0.43  0.40  0.60  0.16  0.5  0.0  0.53  0.39
1482  0.65  0.54  0.54  0.13  0.5  0.0  0.53  0.22

[1483 rows x 8 columns]

In [52]:
type(dt)

pandas.core.frame.DataFrame

In [53]:
target

0       MIT
1       MIT
2       NUC
3       MIT
4       CYT
       ...
1478    ME2
1479    NUC
1480    ME2
1481    NUC
1482    CYT
Name: site, Length: 1483, dtype: object

2.2 - Exibir os primeiros registros desta tabela.

In [54]:
dt.head()

  Sequence Name   mcg   gvh   alm   mit  erl  pox   vac   nuc site
0    ADT2_YEAST  0.43  0.67  0.48  0.27  0.5  0.0  0.53  0.22  MIT
1    ADT3_YEAST  0.64  0.62  0.49  0.15  0.5  0.0  0.53  0.22  MIT
2    AAR2_YEAST  0.58  0.44  0.57  0.13  0.5  0.0  0.54  0.22  NUC
3    AATM_YEAST  0.42  0.44  0.48  0.54  0.5  0.0  0.48  0.22  MIT
4    AATC_YEAST  0.51  0.40  0.56  0.17  0.5  0.5  0.49  0.22  CYT

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

Se trata de prever os locais de presença celular de proteínas. Podemos prever alguma anomalia.

# Questão 3 - valor (0,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

In [55]:
len(feature_names)

8

3.2 - Quantas observações têm nessa base de dados?

In [56]:
# len(dt) 
dt.shape

(1483, 10)

# Questão 4 - valor (1,0)

In [57]:
X = data
y = target

4.1 - Faça uma previsão, usando o algoritmo de LogisticRegression.

In [58]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter= 10000000)

# fit the model with data
logreg.fit(X, y)

X_new = [[0.61, 0.43, 0.44, 0.71, 0.30, 0.00, 0.73, 0.29], [0.81, 0.49, 0.33, 0.51, 0.33, 0.00, 0.71, 0.31]]

# predict the response for new observations
logreg.predict(X_new)

array(['MIT', 'MIT'], dtype=object)

# Questão 5 - valor (1,5)

Usando o método de avaliação de acurácia (Treinar e testar na base de dados inteira/Train test entire model), Calcular a acurácia de cada um dos 3 métodos abaixo.

4.1 - Acurácia usando o algoritmo de KNN (com 1 vizinho, k=1)

In [59]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X, y)
y_pred = knn.predict(X)
print(metrics.accuracy_score(y, y_pred))

1.0

4.2 - Acurácia usando o algoritmo de KNN (com 5 vizinho, k=5)

In [60]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X, y)
y_pred = knn.predict(X)
print(metrics.accuracy_score(y, y_pred))

0.6871207012811867

4.3 - Acurácia usando o algoritmo de LogisticRegression

In [61]:
# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression(max_iter= 10000000)

# fit the model with data
logreg.fit(X, y)

# predict the response values for the observations in X
logreg.predict(X)

array(['CYT', 'CYT', 'CYT', ..., 'ME3', 'NUC', 'CYT'], dtype=object)

In [62]:
# store the predicted response values
y_pred = logreg.predict(X)

# check how many predictions were generated
len(y_pred)

1483

In [63]:
# compute classification accuracy for the logistic regression model
from sklearn import metrics
print(metrics.accuracy_score(y, y_pred))

0.5684423465947404

4.4 - De acordo com seus resultados anteriores, qual dos 3 métodos é mais eficiente?

De acordo com os testes de acurácia realizados o mais eficiente seria KNN = 1

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom